.dev {
  /* display: none !important; */
}

.box.blue {
  color: white;
}

.ion-page {
  /* max-width: 800px; */
}

.buttons {
  width: 100%;
}

main,
ion-content {
  padding: 10px !important;
}

body,
body h1 {
  font-family: roboto;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto-Slab';
  src: local('Roboto-Slab'),
    url(@/assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf)
      format('truetype');
}

body h1 {
  font-family: roboto;
  font-weight: 400;
}

.footer_icons a {
  color: var(--ion-color-primary-contrast) !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

:root {
  /* --light_grey: rgb(243, 243, 243); */
  --light_light_grey: rgb(250, 250, 250);
  --light_grey: rgba(210, 210, 210, 0.4);

  --grey: #6c6c6c;
  --dark_grey: #404040;
  /* rgb(52, 230, 177) */
  /* --light_green: rgb(64, 255, 198); */
  --light_green: rgb(52, 230, 177);
  --dark_green: rgb(44, 183, 141);

  --pink: #ff79beff;
  /*  höhe  rechts/links  blur  weite  */
  --box_shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.038),
    0px 0px 1.3px rgba(0, 0, 0, 0.055), 0px 0px 3px rgba(0, 0, 0, 0.072),
    0px 0px 10px rgba(0, 0, 0, 0.11);

  --box_shadow_2: 0px 0px 1.2px rgba(0, 0, 0, 0.077),
    0px 0px 3.3px rgba(0, 0, 0, 0.11), 0px 0px 7.8px rgba(0, 0, 0, 0.143),
    0px 0px 26px rgba(0, 0, 0, 0.22);
  --box_shadow_funky: -4px -3px 15px 5px #8cff85, 8px -3px 10px 5px #80c7ff,
    8px 6px 10px 7px #e488ff, -5px -4px 15px 1px #8e5cff,
    0px 0px 10px -4px rgba(0, 0, 0, 0);
}

.link_button {
  max-width: 300px;
  width: 100%;
}

ion-button {
  --border-radius: 25px;
  text-transform: none;
  --box-shadow: var(--box_shadow);
  height: 50px;
  max-width: 300px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

ion-button.auto_width {
  width: auto !important;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  padding: 30px 20px;
  box-sizing: border-box;
}

.padding_top_bottom {
  padding: 30px 0px;
}

.box {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
  min-height: 90vh;
  width: 100%;
  padding: 20px 20px;
  align-items: center;
}

.box.green {
  background-color: var(--ion-color-primary);
}

.box.green a {
  color: var(--ion-color-secondary);
}

.info_text {
  font-size: 20px;
}

.box.blue {
  background-color: var(--ion-color-secondary);
}

.text_big {
  text-transform: uppercase;
  font-family: 'Roboto-Slab';
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  padding: 10px 0px;
}

.devbox {
  position: fixed;
  left: 0;
  bottom: 44px;
  background-color: rgba(179, 179, 179, 0.638);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  scrollbar-width: none;
}

.devbox::-webkit-scrollbar {
  display: none;
}

.devbox ion-button,
.adminbox ion-button,
.admin ion-button {
  width: auto;
  opacity: 0.8;
  --padding-top: 8px;
  --padding-bottom: 8px;
  margin: 0 !important;
  padding: 3px !important;
}

.devbox .button,
.adminbox .button,
.admin .button {
  font-size: 10px;
  padding: 8px;
  height: auto;
}

.development {
}
